.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 8px 0;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item.completed span {
  text-decoration: line-through;
  color: #888;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0;
  font-size: 1.2rem;
}

.setting-item label {
  margin-right: 10px;
}

.setting-item input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

a {
  color: #09cc54;
  font-size: 1rem;
}